
.body{
	margin:0;
	overflow:hidden;
	background-repeat: no-repeat;
}


.jumbotron{
	
	overflow-y: scroll;
	background: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#content{
	height: 100%;
	
}

#body{
	width:100%;
	min-height: 700px;
	background:rgba(29,42,50, 0.5);
}


ul.a{
	list-style-type: circle;
}

#footer{
	min-height: 80px;
	background:rgba(29,42,50, 0.2);
}


a{ /* by tag name */
	padding:34px;
}

i{ /* by tag name */
	color:white;
}
