@media only screen and (max-width: 767.5px){

	#section1 h4{
		font-size: 12px;
	}
	#section1 h3{
		font-size: 16px;
	}
	#section3 p{
		font-size: 18px;
	}

}
@media only screen and (max-width: 400px){
	#section1 h1::before,
	#section1 h1::after {
	    display: none;
	}
}

@media only screen and (max-width: 278px){

	#section1 h1::before,
	#section1 h1::after {
	    display: inline-block;
	    content: "";
	    border-top: .2rem solid #1e2b33; /*the height of the line*/ 
	    width: 100px;     /*the length of the line*/
	    margin: 0 1.5rem; /*top margin and right margin */
	    transform: translateY(-.6rem); /*the vertical position of the line */
	}
	#section1 h1::after{
		margin-left: -18%;
	}

}


body{	
	margin: 0;
	overflow: hidden;
	background-image: url("banner.jpg");
	background-repeat: no-repeat;
}



#main{
	height: 100vh;
	margin: auto;
	overflow-y: scroll;
	background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.section{
	width: 100%; 
	height: 500px; 
}


#section1{
	height: 800px;
	background: rgba(255, 255, 255, 0);
}

#section1 h1{
	color: #1e2b33;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	padding-top: 150px;
	margin-bottom: 20px;
	z-index: 99;
}


h1:before,
h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}



#section2{
	background: rgba(224,223,218, 0.2);
}

.header{
	font-weight: bold;
	padding-top: 15px;
	font-family: 'Dancing Script', cursive;
}

#section3{
	background: rgba(142,168,175, 0.2);
	font-family: Segoe UI;
	font-weight: bold;
}

#section4{
	background: rgba(104,139,155, 0.2);
}

#footer{
	width: 100%;
	height: 200px;
	background: rgba(29,42,50, 0.2);
}


i{
	color: white;
}
#icon{
	width: 60%;
	height: 50%;
	margin: auto;
	padding-top: 60px;
	padding-left: 10%;
}